<p>display-contact works!</p>
<div class="container  rounded shadow border-primary w-50 mx-auto p-4 my-5">
    <div class="mb-2 mt-5">
        <h3 class="text-center text-primary">Contacts</h3>
        <!-- <input type="text/number" class="form-control py-4 my-4" disabled [(ngModel)]="pNumber"> -->
        <div class="row   mx-auto p-2">
                <!-- <button class="btn btn-secondary material-symbols-outlined col mx-1 text-primary" (click)="clear()"> backspace</button> -->
                <button class="btn btn-info col mx-1 material-symbols-outlined text-light" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add</button>
            </div>
    </div>
    <div class="px-2">
        <div class="row mb-2">
            <!-- <div class="col border text-center mx-2 shadow rounded p-2 btn btn-outline-primary" type="button" (click)="num(1)">1 <br><small><i class="material-icons">voicemail</i></small></div> -->
            <!-- <div class="col border text-center mx-2 shadow rounded p-2 btn btn-outline-primary" type="button" (click)="num(2)">2 <br><small><i class="">abc</i></small></div> -->
            <!-- <div class="col border text-center mx-2 shadow rounded p-2 btn btn-outline-primary" type="button" (click)="num(3)">3 <br><small><i class="">def</i></small></div> -->
        </div>
        <div class="row mb-2">
            <!-- <div class="col border text-center mx-2 shadow rounded p-2 btn btn-outline-primary" type="button" (click)="num(4)">4 <br> <small><i class="">ghi</i></small></div> -->
            <!-- <div class="col border text-center mx-2 shadow rounded p-2 btn btn-outline-primary" type="button" (click)="num(5)">5 <br> <small><i class="">jkl</i></small></div> -->
            <!-- <div class="col border text-center mx-2 shadow rounded p-2 btn btn-outline-primary" type="button" (click)="num(6)">6 <br> <small><i class="">mno</i></small></div> -->
        </div>
        <div class="row mb-2">
            <!-- <div class="col border text-center mx-2 shadow rounded p-2 btn btn-outline-primary" type="button" (click)="num(7)">7 <br> <small><i class="">pqrs</i></small></div> -->
            <!-- <div class="col border text-center mx-2 shadow rounded p-2 btn btn-outline-primary" type="button" (click)="num(8)">8 <br> <small><i class="">tuv</i></small></div> -->
            <!-- <div class="col border text-center mx-2 shadow rounded p-2 btn btn-outline-primary" type="button" (click)="num(9)">9 <br><small><i class="">wxyz</i></small></div> -->
        </div>
        <div class="row mb-2">
            <!-- <div class="col border text-center mx-2 shadow rounded p-2 btn btn-outline-primary" type="button" (click)="num('*')">*</div> -->
            <!-- <div class="col border text-center mx-2 shadow rounded p-2 btn btn-outline-primary" type="button" (click)="num(0)">0 <br><small><i class="material-icons">add</i></small></div> -->
            <!-- <div class="col border text-center mx-2 shadow rounded p-2 btn btn-outline-primary" type="button" (click)="num('#')">#</div> -->
        </div>
    </div>
</div>
